@model Cinema.Models.Cliente
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>EDAD</th>
        <th>TELÉFONO</th>
        <th>DUI</th>
        <th>DIRECCIÓN</th>        
    </tr>
    <tr>
        <th>@Model.id</th>
        <th>@Model.nombre</th>
        <th>@Model.edad</th>
        <th>@Model.telefono</th>
        <th>@Model.DUI</th>
        <th>@Model.direccion</th>
    </tr>

</table>

